.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
*.lock
android/.gradle/
android/local.properties
android/app/google-services.json
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner/GoogleService-Info.plist
.firebase/
